# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Java-project\Ztuo-ExChange\Ztuo1.0-Bizzan\05_bizzan_exchange_robot\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
